body {
background: url("./images/background.png") ;
}
h1{
text-align: center;
}
.container {
padding-left: 10%;
margin: 20px auto;
}
.image img{
max-width: 100%;
}
.game {
border: 2px solid black ;
padding: 10px 10px 10px 10px;
margin-bottom: 17px;
width: 100%;
overflow: hidden;
-webkit-box-shadow:0 10px 6px -6px #777;
-moz-box-shadow:0 10px -6px #777;
box-shadow: 0 10px 6px -6px #777;
}
div.image{
cursor: pointer;
}
img {
width: 30%;
float: left;

}
.text{
width: 60%;
float: right;
}
div.text::before {
font-size: 25px;
}
.image img:hover {
-webkit-box-shadow:0 10px 6px -6px #777;
-moz-box-shadow:0 10px -6px #777;
box-shadow: 0 10px 6px -6px #777;
}
div.text1::before{
content: "Dota is a competitive game of action and strategy, played both professionally and casually by millions of passionate fans worldwide. Players pick from a pool of over a hundred heroes, forming two teams of five players."
}
div.text2::before {
content: "Counter-Strike: Global Offensive (CS: GO) засновується на тій самій ігровій механіці, що привела серію до успіху 15 років тому. CS: GO пропонує як нові мапи, персонажів і зброю, так і сучасну переробку класики серії CS (de_dust та інші). Окрім того, в CS: GO введені нові ігрові"
}
div.text3::before {
content: "Останні додатки GTA Online: Dewbauchee Specter, розкішний і легкий спорткар, і Collection Time, новий режим протиборства, в якому можна спустошувати кишені суперників, набираючи переможні очки. Грайте зараз. "
}
